
<style>
    #total-junkshops{
        background-color: #4cb4c7;
    }

    #total-households{
        background-color: #7abecc;
    }

    #total-sold{
        background-color: #7cd1c0;
    }
</style>

<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-junkshops">
                <div class="card-header">
                    <h5 class="card-title">
                        Junkshops
                    </h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ junkshops_count }}
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-households">
                <div class="card-header">
                    <h5 class="card-title">
                        Household
                    </h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        10
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-white mb-3" id="total-sold">
                <div class="card-header">
                    <h5 class="card-title">
                        Items Sold
                    </h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        100
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>